<section>
<a href="http://mvp.microsoft.com/en-US/findanmvp/Pages/profile.aspx?MVPID=fab68289-f5e7-44e6-ba47-24c65368b478" target="_blank"><img src="/images/MVP_Horizontal_BlackOnly.png" alt="MVP Profile"/></a>
<a href='http://www.ohloh.net/accounts/46667?ref=Detailed'><img alt='Ohloh profile for Ian Davis' height='35' src='http://www.ohloh.net/accounts/46667/widgets/account_detailed.gif' width='191' /></a>
<iframe src="http://stackoverflow.com/users/flair/122096.html?theme=clean" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" width="210" height="60"></iframe>
<a href="http://vimeo.com/idavis"><img src="http://a.vimeocdn.com/images/blogbadge_channels.png" alt="Vimeo" /></a>
</section>